html {
  background-color: #FBD2D7; }

section .content, section .contentHeader, .wrapper:before {
  display: block;
  font-size: 2em;
  padding: 1em;
  width: 6em;
  height: 3em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0); }

section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  padding: 1em; }
  section .content, section .contentHeader {
    z-index: 1000;
    width: 1000px; }
  section .contentHeader {
    top: 0%;
    left: 40%; }

.wrapper {
  clip: rect(auto auto auto auto);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .wrapper:before {
    padding: 2em 3.5em;
    mix-blend-mode: darken; }

.fa-4x {
  font-size: 3em;
  margin-right: 10px; }

h4 {
  margin-top: -20%; }

.flex-center {
  position: fixed;
  bottom: 0;
  min-height: 10%;
  width: 100%;
  background: #000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff; }
  .icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite; }

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3; }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3; }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3; }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3; }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3; } }

.backgroundSplash {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 800px; }

#tiger, #flamingo {
  position: absolute;
  width: 30%;
  height: auto; }

#flamingo {
  width: 100%;
  margin-top: -52px; }

.container {
  position: absolute; }

.filter, #tiger, #flamingo {
  filter: url(#glitch); }

#water {
  width: 100%;
  height: 25%;
  object-fit: cover;
  z-index: -1000;
  border: 80px solid #C00C16; }

.tigerWrap {
  display: inline-block; }

.splashWrapper, .splashButtons, .splashHeader h4 {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px; }

.splashButtons {
  top: 340%;
  display: flex;
  justify-content: space-between;
  left: 0%; }
  .splashButtons a {
    font-size: 2em;
    margin-right: 5%; }

button {
  text-align: center; }

.splashHeader {
  color: yellow;
  margin-top: 4%;
  text-shadow: 3px 5px black; }
  .splashHeader h4 {
    top: 200%;
    left: 70%; }

.linethru {
  display: inline-block;
  position: fixed; }
  .linethru:after {
    content: '';
    width: 100%;
    position: absolute;
    height: .5em;
    background-color: #299973;
    display: block;
    bottom: .25em;
    z-index: -1;
    transform-origin: center left;
    animation: strikethrough 1s 0.5s cubic-bezier(0.55, 0, 0.1, 1) 1;
    transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1); }

.experienceWrapper h1 {
  font-family: Anton;
  color: #FBFDFD;
  font-size: 12vw;
  clip: rect(auto auto auto auto);
  position: fixed; }

.experienceWrapper .one {
  background-color: #81B8AF; }
  .experienceWrapper .one .wrapper:before {
    background: red; }
  .experienceWrapper .one .linethru:after {
    background-color: yellow;
    opacity: .25; }
  .experienceWrapper .one .content, .experienceWrapper .one section .contentHeader, section .experienceWrapper .one .contentHeader {
    display: flex;
    align-items: center;
    overflow: inherit; }

.experienceWrapper .two {
  background-color: #FFD2B3; }
  .experienceWrapper .two .wrapper:before {
    background: #faaa54; }
  .experienceWrapper .two .linethru:after {
    background-color: purple;
    opacity: .25; }

.experienceWrapper .three {
  background-color: #ACE09E; }
  .experienceWrapper .three .linethru:after {
    background-color: blue;
    opacity: .25; }
  .experienceWrapper .three .wrapper:before {
    background: #6c320a;
    mix-blend-mode: darken; }

.experienceWrapper p {
  font-weight: 400;
  font-family: sans-serif; }

.linethru--rev {
  font-family: Anton;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #EEFAD1;
  font-weight: normal;
  position: relative;
  z-index: 1000; }
  .linethru--rev:after {
    transform: scaleX(0);
    transform-origin: center left; }
  .linethru--rev:hover {
    color: #EEFAD1; }
  .linethru--rev:hover:after {
    transform: scaleX(1);
    transform-origin: center left; }

@keyframes strikethrough {
  from {
    transform: scaleX(0); }
  to {
    transform: scaleX(1); } }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 60vw;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh; }

.button {
  flex: 1 1 auto;
  margin: 10px;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .3s; }
  .button:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 3px;
    background: #f7f7f7; }
  .button:hover {
    cursor: pointer; }
    .button:hover:after {
      width: 100%;
      left: 0; }
    .button:hover.button {
      transform: scale(1.2); }
    .button:hover.button:after {
      width: 0%; }

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.flip {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 1s; }

.flip:hover {
  transform: rotateY(180deg);
  transition: transform 1s; }

.front {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: salmon;
  backface-visibility: hidden;
  box-shadow: 0 0 4px #000; }

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  background: turquoise;
  backface-visibility: hidden;
  box-shadow: 0 0 4px #000; }
