

$redColor: rgba(244,67,54,1);
$blueColor:rgba(33,150,243,1);

%fixedbox {
  // Basic styling
  box-sizing: border-box;
  display: block;
  font-size: 4em;
  padding: 1em;
  width: 6em;
  height: 3em;

  // Center box in middle of screen
  position: fixed;
    top: 50%;
    left: 50%;
  transform: translate3d(-50%,-50%,0);
}

.content {
    // Basic styling
    @extend %fixedbox;

    font-family: 'Poiret One', cursive;
    text-align: center;
    z-index: 1000;


    // Cut-out text effect
    background: #fff;
    color: #000;
    mix-blend-mode: lighten;
}

section {
  // Background image styling
  background-repeat: no-repeat;
  background-size: cover;

  // Reset stacking context
  isolation: isolate;

  // Must be set to correctly position .wrapper below
  position: relative;

  // Height not required. Can be left as auto
  height: 100vh;
  padding: 1em;
}

.wrapper, .titleInfo {
  // Hides box (&:before) outside of section
  clip: rect(auto auto auto auto);

  // Clip works only on positions absolute or fixed
  position: absolute;
  // Stretch to fill entire section
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  &:before {
    content: " ";

    // Basic styling
    @extend %fixedbox;
    padding: 2em 3.5em;

    // Blend with background
    mix-blend-mode: darken;

  }
}

.one {
  // Section background image
  background-image: url(https://unsplash.it/1920/1080?image=737);

  .wrapper:before {
    // Box background color
    background: red;
  }
}

.two {
  background-image: url(https://unsplash.it/1920/1080?image=812);

  .wrapper:before {
    background: #faaa54;
    mix-blend-mode: difference;
  }
}

.three {
  background-image: url(https://unsplash.it/1920/1080?image=810);


  .wrapper:before {
    background: #6c320a;
    mix-blend-mode: screen;
  }
}

.four {
background-color: black;
  .wrapper:before {
    background: #e4135d;
  }
}



h4{
      margin-top: -20%;
}


.flex-center {
  position: fixed;
   bottom: 0;
   min-height: 10%
  width: 100%;

  background: #000;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-3d {
  padding: 10px;
  -webkit-animation: icon3d 200ms 10;
  animation: icon3d 200ms 10;
  color: #fff;
  &:hover {
    -webkit-animation: icon3d 200ms infinite;
          animation: icon3d 200ms infinite;
  }
}

@keyframes icon3d {
  0% {
    text-shadow: 5px 4px $redColor, -5px -6px $blueColor;
  }
  25% {
    text-shadow: -5px -6px $redColor, 5px 4px $blueColor;
  }
  50% {
    text-shadow: 5px -4px $redColor, -8px 4px $blueColor;
  }
  75% {
    text-shadow: -8px -4px $redColor, -5px -4px $blueColor;
  }
  100% {
    text-shadow: -5px 0 $redColor, 5px -4px $blueColor;
  }
}




/////////////////////SPLASH///////////////
.splashWrapper{
  display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.splashButtons{
  @extend .splashWrapper;
    top: 340%;
    display: flex;
    justify-content: space-between;
    left: 40%;



}
button{
  text-align: center;
  margin-right: -50%;
}
.splashHeader{
  h4{
    @extend .splashWrapper;
    top:240%;
    left: 70%;
  }
}



/////BUTTON/////
a.animated-button:link, a.animated-button:visited {
	position: relative;
	display: block;
	margin: 30px auto 0;
	padding: 14px 15px;
	color: #fff;
	font-size:14px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}

/* Victoria Buttons */

a.animated-button.victoria-four {
	border: 2px solid #D24D57;
}
a.animated-button.victoria-four:after {
	background: #D24D57;
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
}
a.animated-button.victoria-four:hover:after {
	opacity: 1;
	height: 600% !important;
}
